<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Chatting Application::{{title}}</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
{{{body}}}
<!-- JavaScript Bundle with Popper -->
<script src="js/bootstrap.bundle.min.js"  crossorigin="anonymous"></script>
</body>
</html>